body {
  background: lightblue;
  color: white;
  font-family: sans-serif;
  background-image: url("Back5.jpg");
}

.center {
  transform: translateX(-50%);
  margin-left: 50%;
  text-align: center;
}

.text-center{
  margin-top: 35px;
  color:white;
  background-color: rgba(6, 83, 172);
  border-radius: 1rem;
  padding: 10px;
}